/* Reset and Base Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mee {
    margin: 0;
    padding: 0;
    background-image: url('photos/wallpaper.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    color: black;
    position: relative;
}

.container1{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}
header {
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    margin-left: 30px;

}
nav ul li a {
    color:black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

/* lets style container3*/
.container3{
    justify-items: center;
    margin: 30px;
}
/* lets style container4*/
.container4{
    display: flex;
    margin: 20px;
    justify-content: center;
    text-align: justify;
}
.best{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
    justify-items: center;
    height: 200px;
    width: 300px;
    transition: transform 0.3s ease;
    backdrop-filter: blur(5px);


}
.best:hover{
    transform: translateY(-5px);
}
.but{
    background-color: green;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
}
.but:hover{
    background-color: blue;
}
.footer{
    text-align: center;
}
 

/* let's style the about us */
.cta-button {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.cta-button:hover{
    background-color: #4CAF50;
}
.bk{
display: ruby;
}
.bk >img>{
    border-radius: 50%;
}

.container886{
    font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
            justify-content: center;
            text-align: justify;
            place-items: center;
        }